# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints

# Entorno virtual
env/
venv/
ENV/
VENV/
.venv/

# Datos y gráficos temporales (si no querés subirlos)fhf
graficos_temp/
datospython1/

# Excel y PDF generados
*.xlsx
*.pdf

# Config VSCode
.vscode/
