# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints

# Entorno virtual
env/
venv/
ENV/
VENV/
.venv/

# Datos y gráficos temporales (si no querés subirlos)fhf
graficos_temp/
matriz_correlacion1/
matriz_correlacion2/
matriz_correlacion3/
analisisPorActivo/
datospython1/
logs/
charts_profesionales/
resultados_profesionales/
todosdatos/
DatosCartera/


# Excel y PDF generados
*.xlsx
*.pdf
*.csv
*.png


# Config VSCode
.vscode/
