# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints

# Entorno virtual
env/
venv/
ENV/
VENV/
.venv/

# Datos y gráficos temporales (si no querés subirlos)fhf
graficos_temp/
matriz_correlacion1/
matriz_correlacion2/
matriz_correlacion3/
analisisPorActivoNuevo/
analisisPorActivoOriginal/
analisisPorActivoPruebas/
analisisPorActivo/
FundamentalActivos/
datospython1/
logs/
charts_profesionales/
resultados_profesionales/
todosdatos/
DatosCartera/
nuevo/Correlaciones/
nuevo/CorrelacionesRolling/
nuevo/DatosCrudos/
nuevo/DatosLimpios/
nuevo/RetornoDiarioAcumulado/
nuevo/PCA
nuevo/Montecarlo
nuevo/BacktestPortafolioPro
nuevo/BackTestingPortafolioIguales
nuevo/BackTesting_*/


# Excel y PDF generados
*.xlsx
*.pdf
*.csv
*.png
# ...excepto los de la carpeta Clientes (permite solo ahí)
!nuevo/datosgenerales/Clientes/*.xlsx
!nuevo/datosgenerales/*.csv
!nuevo/datosgenerales/*.jpg

# Config VSCode
.vscode/
